{# index.twig #}
{% extends "layout/layout.twig" %}

{% block title %}Index{% endblock %}

{% block content %}

  <main class="all-main" role="main">
    Main
  </main>

  <aside class="all-aside">
    <p>Aside.</p>
  </aside>

{% endblock %}
