/* Colors */
$color-general-dark: #1C1E26;
$color-second-dark: #383D4E;
$color-theme-green: #8C8C85;
$color-theme-green-light: #E0DABC;
$color-theme-red: #AE0A14;

// Size
$size-content-max-width: 53.75em;
$size-general-padding: 1.618em;

// Font
$golden-ration: 1.618;
$base-font-size: 16; // px
$font-weight-normal: normal;
$font-weight-bold: bold;
$font-weight-100: 100;
$font-weight-300: 300;
$font-weight-500: 500;
